.keyboard {
	background: yellow;

	&__row {
		text-align: center;
	}

	&__key {
		min-height: 2em;

		text-align: center;
		text-transform: uppercase;

		&--success {
			color: $white;
			background-color: $succes-color;
		}

		&--notInPlace {
			color: $white;
			background-color: $warning-color;
		}

		&--wrong {
			background-color: darkgrey;
		}
	}
}

.disabled {
	pointer-events: none;

	opacity: .5;
}
