.keyboard {
	&__row {
		margin-top: .2em;

		text-align: center;
	}

	&__key {
		min-height: 2em;

		text-align: center;
		text-transform: uppercase;

		border: 1px solid var(--main-text-color);
		border-radius: 100%;
		background: transparent;

		font-size: 1.4rem;

		margin-inline: 5px;
		aspect-ratio: 1;



		&--success {
			color: $white;
			background-color: $succes-color;
		}

		&--notInPlace {
			color: $white;
			background-color: $warning-color;
		}

		&--wrong {
			background-color: darkgrey;
		}
	}
}

.disabled {
	pointer-events: none;

	opacity: .5;
}
