body {
	display: flex;
	overflow: hidden;
	flex-direction: column;

	height: 100vh;
	margin: 0;
	padding: 0;

	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

.main {
	display: flex;
	align-items: center;
	flex: 1;
	flex-flow: column nowrap;

	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
}
