body {
	display: flex;
	overflow: hidden;
	flex-direction: column;

	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: #FAFAFA;
}

.main {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;

	background: palegreen;
}
