.board {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	justify-content: center;

	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		margin-top: .5em;

		gap: .5em;

		&--active {
			background-color: lightcyan;
		}
	}

	&__cell {
		width: var(--letter-size);
		height: var(--letter-size);

		text-align: center;

		color: var(--main-text-color);
		outline: 1px solid $gray-darker;

		font-size: var(--letter-size);
		line-height: var(--letter-size);

		--letter-size: 4rem;

		&--success {
			color: $white;
			background-color: $succes-color;
		}

		&--notInPlace {
			color: $white;
			background-color: $warning-color;
		}

		&--active {
			outline: 2px solid black;
		}
	}
}
